extends layout
block content

  h1.title About Works with Drupal

  div.about
    p All module data is scraped from <a href="https://drupal.org/project/project_module">drupal.org</a>.  Modules not hosted on drupal.org may appear as "unknown" here, in these cases you may report the error or submit a pull request on <a href="https://github.com/balaclark/workswithdrupal">gitub</a> in order to manually add the module to the index.

    p This site and related Drupal modules are open source and contributions are welcome.

    ul
      li
        a(href="https://github.com/balaclark/workswithdrupal") https://github.com/balaclark/workswithdrupal
      li
        a(href="https://github.com/balaclark/workswithdrupal") https://github.com/balaclark/workswithdrupal-module
