extends layout
block content

  h1
    | Works with Drupal <em>x</em>?

  form(id='single', method='post', action='/')

    div
      textarea(name='module', id='module', placeholder='Modules (separate multiple with a new line)')

    select(name='version', id='version')
      each version in versions
        option(value=version selected=version==current) Drupal #{version}

    input(type='submit')

  script(src='/js/form.js')
