doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Works With Drupal
    link(rel='stylesheet', href='/css/main.css')
  body
    div.content
      block content

    footer
      span.left
        a(href='/about') About
        | &nbsp; | &nbsp;
        a(href='mailto:balaclark@gmail.com?subject=works with drupal error') Report Errors

      span.right © Bala Clark 2013
