body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 3ex;
  text-align: center;
}

h1 {
  font-size: 1.2em;
}

.content {
  margin: 0 auto;
}

.modules {
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0;
}

.module {
  margin: 1ex;
  padding: 0.5ex;
  border: solid 1px;
  text-align: left;
  overflow: auto;
}

.module a {
  text-decoration: none;
}

.symbol {
  display: inline-block;
  padding: 0 0.5em;
}

.yes, .yes a {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.no, .no a {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.error, .error a {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.supported {
  display: inline-block;
  float: right;
  font-size: 90%;
  font-style: italic;
}

a {
  color: #00B7FF;
}

textarea {
  width: 100%;
  height: 100px;
  max-width: 300px;
}

textarea.error {
  border: solid 1px #FF8040;
}

.unknown {
  font-style: italic;
  font-size: 0.9em;
}

.hidden {
  display: none;
}
